[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-msearch = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
