
.glossy-button--blue { background-color: #19F; }
.glossy-button--gold { background-color: #EA0; }
.glossy-button--green { background-color: #6C6; }
.glossy-button--red { background-color: #E21; }

.glossy-button:hover {
  transform: scale(1.05);
  box-shadow:
          inset 0 -5px 20px hsla(0, 0%, 0%, 0.4), /* top light */
          inset 0 5px 20px hsla(0, 0%, 100%, 0.4), /* bottom shadow */
            /* multiple light sources yall */
          -12px 12px 5px hsla(0, 0%, 0%, 0.15), /* drop shadow 1 */
          10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
}